:root {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 16px;
}

* {
  box-sizing: content-box;
  font-family: 'Space Grotesk', sans-serif;
  margin: 0;
  outline-color: #9869ff;
  padding: 0;
}

::selection {
  background-color: #9869ff;
}
