html,
body,
#__next,
#__next > div {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-size: 18px;
  font-family: 'Source Code Pro', monospace;
  margin: 0;
  min-height: 100%;
  width: 100%;
}

*,
::before,
::after {
  box-sizing: border-box;
}

::-moz-selection {
  background: var(--red);
}

::selection {
  background: var(--red);
}

:root {
  --blue: #11269c;
  --light: #eeeeee;
  --muted: #666;
  --pink: #ff94b8;
  --red: #ff596a;
}
